body {
	background:  url("img/background.PNG") no-repeat center fixed;
}


.navContact {
	margin-top: 5%;
	display: flex;
    justify-content: center;
}



div.roulette {
	margin-top: 35px;
}
div.roulette-inner {
	left : 30px;
	position: relative;
}

.roulette_container {
	background-color:#ecf0ef;
	width:400px;
	height:400px;
	border:1px solid rgba(253, 252, 253, 0.31);
	box-shadow:0px 0px 3px lightpink;margin:auto;
}


.container {
	margin-top: 8%;
	width: 75%;
	
}

.page-header {
	padding-bottom: 1.5em;
	margin: auto;
	width: 90%;
	border-bottom: 1px solid #eeeeee;
  }

.center-box {
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
						
}

.modal {
	background: #2192c8;
	display: flex;
    justify-content: center;
}

.modal-content {
	margin: center;
}


.btn {
	margin-top: 5%;

	
}
.btn_container .start {
	margin-right:20px;
	
}
.log_container {
	margin-left:25px;
	margin-top:80px;
}
.title-label {
	padding-left:50px;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
	color: #ecf0ef ;
}
#msg {
	border:1px solid #eee;
	padding:10px 20px;
	overflow-y: scroll;
	max-height: 100px; 
}
div.param_label {
	margin:auto;
	margin-top: 1em;

}
#stopImageNumber {
	width : 20px;
}
.param_name {
	font-weight:bold;
}
.image_sample img{
	
	width : 120px;
	cursor: pointer;
}

.label-info {
	margin-bottom: 3px;
}
div.ui-slider {
	width: 300px;
}

